<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学生选课</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
	<script type="text/javascript" src="../js/service/stuSelService.js">  </script>
	<script type="text/javascript" src="../js/controller/stuSelController.js">  </script>
<script type="text/javascript" src="../js/service/loginService.js"></script>
	<script type="text/javascript" src="../js/controller/indexController.js"></script>
	<script type="text/javascript" src="../js/service/userStudentService.js"></script>
	<script type="text/javascript" src="../js/controller/userStudentController.js"></script>
	<script type="text/javascript" src="../js/service/selCourseService.js"></script>
	<script type="text/javascript" src="../js/controller/selCourseController.js"></script>
    
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="postgraduate" ng-controller="stuSelController"  >
  <!-- .box-body --> 
 
  
                    <div class="box-header with-border">
                        <h3 class="box-title">学生选课</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        
                                        <button type="button" class="btn btn-default" title="删除"  ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>           
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              
										  <th class="sorting_asc">课程代码</th>
									      <th class="sorting">课程名称</th>									      
									      <th class="sorting">老师工号</th>
									      <th class="sorting">老师姓名</th>									    
									      <th class="sorting">可选人数</th>									     				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              
			                              			                              
				                          <td>{{entity.tbLesson.id}}</td>
									      <td>{{entity.tbLesson.name}}</td>				
									      <td>{{entity.tbTeacher.id}}</td>
									      <td>{{entity.tbTeacher.name}}</td>						     
		                                  <td>{{entity.number}}</td>

		                                  <td class="text-center">                       
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="selectOne(entity.id)" >详情</button>                                           
		                                  </td>
		                                  
			                          </tr>
									  
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  <!-- 分页 -->
							  <tm-pagination conf="paginationConf"></tm-pagination>
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                       {{entity.id}}
                        
                        
                        
                     </div>
                     
                    <!-- /.box-body -->
 <!-- 编辑窗口--> 
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">课程详情</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="2000px">
				<thead>
                    <tr>
					  <th class="sorting_asc">课程代码</th>
				      <th class="sorting">课程名称</th>	
				      <th class="sorting">课程类别</th>
				      <th class="sorting">学分</th>
				      <th class="sorting">学时</th>
				      <th class="sorting">开课学期</th>
				      <th class="sorting">考核方式</th>								      
				      <th class="sorting">老师工号</th>
				      <th class="sorting">老师姓名</th>									    
				      <th class="sorting">可选人数</th>									     				
                   </tr>
			    </thead>
		      	<tr >
		      		<td>{{entity.tbLesson.id}}</td>
				      <td>{{entity.tbLesson.name}}</td>	
				      <td>{{entity.tbLesson.category}}</td>
                      <td>{{entity.tbLesson.credit}}</td>	
                      <td>{{entity.tbLesson.hours}}</td>	
                      <td>{{entity.tbLesson.semester}}</td>		
                      <td>{{entity.tbLesson.exam_method}}</td>			
				      <td>{{entity.tbTeacher.id}}</td>
				      <td>{{entity.tbTeacher.name}}</td>						     
                      <td>{{entity.number}}</td>
		      	</tr>		      	
		      	
			 </table>				
		</div>
		<div class="modal-footer">			
		<div ng-controller="userStudentController" ng-init="showLoginName()">		
  		<div ng-controller="selCourseController">
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save(login.loginName,entity.id)">选中</button>
			<button  class="btn btn-default" data-dismiss="modal" aria-hidden="true" >关闭</button>
			</div>
		</div>	
			
		</div>
	  
	</div>
</div> 

</div>           
</body>    
</html>